@font-face {
  font-family: 'Pixel';
  src: url('./fuentes/Jersey10-Regular.ttf') format('woff2'),
       url('./fuentes/Jersey10-Regular.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}   


.paginaprincipal {
  background-image: url('./Imágenes/kanto-map.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}   

.titulopokedex {
    border-radius: 10px;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Press Start 2P';
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;       
    padding: 10px 20px;
    margin: 10px auto;           
    text-align: center;
    width: fit-content;          
}   

.tabla1 { 
    font-size: 20px;
    color: white;
    font-family: 'Press Start 2P';
    line-height: 28px;
}

.enlace {
    color: white;
    text-decoration: none;
    font-family: 'Press Start 2P';
}


.cindaquilh1 {
  border-radius: 10px;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: 'Press Start 2P';      
    padding: 10px 20px;
    margin: 10px auto;           
    text-align: center;
    width: fit-content; 
}

.tipo {
    font-size: 20px;
    font-family: 'Press Start 2P';
    text-align: justify;
    margin: 0 20px;
}

.fuego {
    border-radius: 10px;
    font-size: 25px;
    letter-spacing: 3px;
    font-family: 'Press Start 2P';
    background-color: rgba(236, 202, 9, 0.849);
    width: fit-content; 
}